.login {
  width: 77.33333vw;
  margin: 0 auto;
  padding-top: 25.33333vw;
}

.po-code-btn {
  position: relative;
}

.po-code-btn div {
  position: absolute;
  right: 0px;
  bottom: 1.6vw;
  height: 8vw;
  line-height: 8vw;
  background-color: transparent;
  color: #999999;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0 2vw;
  font-size: 3.33333vw;
}

.login-bar {
  display: flex;
  align-items: center;
  margin-bottom: 13.33333vw;
}

.login-bar i {
  font-size: 5.73333vw;
  color: #666;
}

.login-bar span {
  display: block;
  color: #333;
  font-size: 3.73333vw;
  width: 12vw;
  padding-left: 4vw;
  padding-right: 1.33333vw;
  text-align: justify;
}

.login-bar input {
  border-width: 0px 0px 1px 0px;
  border-color: #E5E5E5;
  width: 54.66667vw;
  box-sizing: border-box;
  text-indent: 2px;
  color: #666;
  font-size: 3.46667vw;
}

.btns {
  text-align: center;
  color: #1ca6f8;
  font-size: 3.2vw;
}

.btns button, .btns div, .btns .register {
  display: block;
  width: 100%;
  height: 11.33333vw;
  line-height: 11.33333vw;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 4.8vw;
  margin: 2.93333vw 0;
  border: 1px solid #1ca6f8;
  overflow: hidden;
}

.btns .btn-login {
  color: #fff;
  background: #1ca6f8;
}

.btns .btn-register {
  background-color: transparent;
  color: #1ca6f8;
}

.user-warp {
  min-height: 100vh;
  background: #F3F3F3;
}

.user-bar {
  clear: both;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 4vw;
  font-size: 4vw;
  color: #333;
}

.user-bar .left {
  display: flex;
  align-items: center;
}

.user-bar .right {
  color: #999;
  display: flex;
  align-items: center;
}

.user-bar .right i {
  display: block;
  font-size: 4.66667vw;
  width: 4.66667vw;
  height: 4.66667vw;
  margin-left: 4vw;
}

.user-bar img {
  width: 12.66667vw;
  height: 12.66667vw;
  border-radius: 100%;
  overflow: hidden;
}

.user-bar .id-img {
  border-radius: 0.8vw;
}

.h-30 {
  clear: both;
  height: 4vw;
}

.ul-bar {
  margin-top: 4vw;
  padding-bottom: 12vw;
}

.ul-bar > a {
  border-bottom: 1px solid #e5e5e5;
}

.ul-bar > a:nth-last-child(1) {
  border-bottom: none;
}

.next-login {
  width: 90%;
  height: 12vw;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  line-height: 12vw;
  font-size: 4.26667vw;
  color: #fff;
  border: 1px solid #1ca6f8;
  background: #1ca6f8;
  border-radius: 2vw;
}

.mod-warp {
  height: 13.33333vw;
  background: #FFFFFF;
  position: relative;
}

.mod-warp > input {
  width: 100%;
  height: 100%;
  border: none;
  text-indent: 4vw;
  outline: none;
}

.mod-warp .po {
  position: absolute;
  top: 50%;
  right: 4vw;
  margin-top: -2.66667vw;
  width: 5.33333vw;
  height: 5.33333vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.mod-warp .po > i {
  display: block;
  width: 3.46667vw;
  height: 3.46667vw;
  font-size: 3.46667vw;
  overflow: hidden;
}

.mod-save {
  margin: 8vw 4vw 4vw 4vw;
  height: 12vw;
  text-align: center;
  color: #1ca6f8;
  border: 1px solid #1ca6f8;
  border-radius: 1.33333vw;
  line-height: 12vw;
  font-size: 4.8vw;
  box-sizing: border-box;
}

.mod-pass-ul {
  padding: 0 4vw;
  background: #fff;
}

.mod-pass-ul > li {
  border-bottom: 1px solid #E5E5E5;
}

.mod-pass-ul > li > .title {
  position: absolute;
  font-size: 3.73333vw;
  color: #333;
  height: 4vw;
  line-height: 4vw;
  top: 50%;
  margin-top: -2vw;
}

.mod-pass-ul > li > input {
  text-indent: 18.66667vw;
}

.mod-pass-ul > li:nth-last-child(1) {
  border-bottom: none;
}

.aut_form span {
  width: 20vw !important;
}
