{include file="public/header"}
		<link rel="stylesheet" type="text/css" href="/public/static/css/user.css" />
		{:load_static('jquery','js')}
   		{:load_static('layer_js','js','false')}
	</head>

	<body>
		<div class="login-warp">
			<div class="login">
				<form class="tForm">
					<div class="login-bar">
						<i class="icon icon-phone"></i>
						<span>手机号</span>
						<input placeholder="请输入手机号" type="number" maxlength="11" name="phone" id="phone" />
					</div>
					<div class="login-bar po-code-btn">
						<i class="icon icon-code"></i>
						<span>验证码</span>
						<input placeholder="请输入验证码" type="number" name="code" id="code" />
						<div id="getcode" class="get-code" onclick="" status='on'>发送验证码</div>
					</div>
					<div class="login-bar">
						<i class="icon icon-pass"></i>
						<span>新密码</span>
						<input placeholder="请输入新密码" type="password" name="password" />
					</div>
					<div class="btns">
						<div class="btn-login tPost" url="{:url('express/api/backpasss')}" form="tForm">确定</div>

					</div>
				</form>
			</div>
		</div>
		<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
		<script type="text/javascript">
		var isPhone = 1;
		$('#getcode').click(function(event) {
			if($(this).attr('status')!='on'){
				return ;
			}else{
				$(this).attr('status','false');
			}
			$(this).html('请求中...')
			$.ajax({
				url: '/express/api/getcode',
				type: 'post',
				dataType: 'json',
				data: {phone: $('#phone').val()},
				success:function(d){
					if(d.code>0){
						alert(d.msg)
					
						reset();
					}else{
						getCode()
						$('.get-code').attr('id','getcodefalse')
					}
				}
			})

		});
		
		function reset(){
			$('.get-code').html('发送验证码');
			$('.get-code').attr('id','getcode')
			$('.get-code').attr('status','on')
		}


		function getCode(e){
			if(isPhone){
				resetCode(); //倒计时
			}else{
				$('#phone').focus();
			}
		
		};
		function resetCode(){
			var second = 60;
			var timer = null;
			timer = setInterval(function(){
				second -= 1;
				if(second >0 ){
					$('.get-code').html(second+'秒后重发');
				}else{
					reset();
					clearInterval(timer);
					// $('#getcode').show();
					// $('#J_resetCode').hide();
				}
			},1000);
		}

		</script>
		<script type="text/javascript">
		$(document.body).pullToRefresh().on("pull-to-refresh", function() {
	        setTimeout(function() {
	          $(document.body).pullToRefreshDone();
	        }, 2000);
	      });
		</script>
	</body>

</html>