@charset "UTF-8";
body, div, span, header, footer, nav, section, fieldset, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-family: "Microsoft Yahei";
}

body:hover, div:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, fieldset:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
  outline: none;
}

a {
  color: #666;
}

html {
  height: 100%;
  width: 100%;
}

.hhhh {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.hhhh-left {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.add_footer_warp {
  padding-bottom: 13.33333vw;
  box-sizing: border-box;
}

.foot {
  height: 13.33333vw;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #333;
  font-size: 4.8vw;
  border-top: 1px solid #999;
  background: #fff;
  color: #999;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 0.66667vw;
  line-height: initial;
  z-index: 100;
}

.foot > a {
  display: block;
  float: left;
  width: 50%;
  height: 13.33333vw;
  text-align: center;
  overflow: hidden;
}

.foot i {
  display: block;
  width: 6.66667vw;
  height: 6.66667vw;
  font-size: 6.66667vw;
  margin: 0 auto;
  text-align: center;
}

.foot span {
  display: block;
  font-size: 2.93333vw;
  height: 2.93333vw;
}

.foot .select {
  color: #1ca6f8 !important;
}

.none-warp {
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  width: 100%;
  display: none;
}

.none-warp > img {
  width: 26.66667vw;
  margin-top: 26.66667vw;
}

.none-warp > div {
  color: #999;
  text-align: center;
  font-size: 3.73333vw;
  padding-top: 2.66667vw;
}

.weui-dialog__ft .primary {
  color: #1ca6f8 !important;
}

body {
  min-height: 102vh;
  padding-bottom: 13.33333vw;
  box-sizing: border-box;
}

.weui-dialog__ft .primary {
  color: #1ca6f8;
}

.index-warp {
  padding-bottom: 13.33333vw;
}

.index-warp .harder {
  display: block;
  height: 33.33333vw;
  background-image: url(../imagesa/harder_bg.png);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.index-warp .harder img {
  width: 16.66667vw;
  height: 16.66667vw;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 4vw;
}

.index-warp .harder .name_phone {
  color: #1ca6f8;
}

.index-warp .harder .name_phone .name {
  font-size: 4.8vw;
}

.index-warp .harder .name_phone .tel {
  font-size: 3.2vw;
}

.index-warp .harder .name_phone .tel > span {
  font-size: 4vw;
  padding-left: 2vw;
}

.index-warp .harder .name_phone .tel > .shz {
  color: red !important;
}

.index-warp .main .zw {
  height: 3.33333vw;
  background: #f3f3f3;
}

.index-warp .main .bar {
  height: 12vw;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.index-warp .main .bar .left {
  display: flex;
  align-items: center;
  font-size: 4vw;
  color: #333;
}

.index-warp .main .bar .left i {
  font-size: 6.66667vw;
  margin-right: 2.66667vw;
}

.index-warp .main .bar .left .ic-account {
  color: #f5a400;
}

.index-warp .main .bar .left .ic-data {
  color: #c8db8c;
}

.index-warp .main .bar .left .text {
  padding-right: 4vw;
}

.index-warp .main .bar .left .money {
  color: #32b16c;
}

.index-warp .main .bar .right {
  display: flex;
  align-items: center;
}

.index-warp .main .bar .right .opre {
  color: #1ca6f8;
  font-size: 3.73333vw;
}

.index-warp .main .data-ul {
  border-top: 1px solid #e5e5e5;
}

.index-warp .main .data-ul > li {
  margin: 0 4vw;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  min-height: 12.53333vw;
  font-size: 4vw;
  display: flex;
  align-items: center;
}

.index-warp .main .data-ul > li > div {
  float: left;
  width: 33.3%;
  text-align: center;
}

.index-warp .main .data-ul .th {
  height: 16.66667vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.index-warp .main .data-ul .th .select-div {
  position: relative;
  color: #1ca6f8 !important;
}

.index-warp .main .data-ul .th .select-div .weui-select {
  color: #1ca6f8;
}

.index-warp .main .data-ul .th .ic-down {
  position: absolute;
  right: 6.66667vw;
  top: 50%;
  left: 66%;
  line-height: 4vw;
  margin-top: -2vw;
}

.index-warp .main .data-ul .order,
.index-warp .main .data-ul .comm {
  color: #333;
  font-size: 4.26667vw;
}

.index-warp .main .data-ul .order_number {
  color: #d4ae47;
}

.index-warp .main .data-ul .comm_number {
  color: #32b16c;
}

.index-warp .main .not-data {
  text-align: center;
  color: #999;
  font-size: 3.73333vw;
}

.login-warp {
  padding-bottom: 13.33333vw;
}

.login-warp .main {
  width: 82.66667vw;
  margin: 21.33333vw auto 0 auto;
}

.login-warp .main .input-bar {
  display: flex;
  align-items: center;
  height: 8vw;
}

.login-warp .main .input-bar > div {
  display: flex;
  align-items: center;
}

.login-warp .main .input-bar .left {
  width: 21.33333vw;
}

.login-warp .main .input-bar .left i {
  color: #999;
  font-size: 6vw;
  font-weight: bolder;
  margin-right: 4vw;
}

.login-warp .main .input-bar .left span {
  color: #333;
  font-size: 3.73333vw;
}

.login-warp .main .input-bar input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}

.login-warp .main .jg {
  height: 16vw;
}

.login-warp .main .forgot-pass {
  color: #1ca6f8;
  font-size: 3.73333vw;
  text-align: center;
  padding-top: 10.66667vw;
}

.login-warp .main .forgot-pass > a {
  color: #1ca6f8;
}

.login-warp .main .btns > div, .login-warp .main .btns a {
  display: block;
  height: 12vw;
  border: 1px solid #1ca6f8;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1.33333vw;
  margin-top: 3.33333vw;
  color: #1ca6f8;
}

.login-warp .main .btns > div:nth-child(1) {
  background: #1ca6f8;
  color: #fff;
}

.forPass-warp {
  padding-bottom: 13.33333vw;
}

.forPass-warp .main {
  width: 82.66667vw;
  margin: 21.33333vw auto 0 auto;
}

.forPass-warp .main .bar {
  line-height: initial;
  display: flex;
  align-items: center;
  margin-bottom: 10.66667vw;
  height: 12vw;
}

.forPass-warp .main .bar i {
  width: 6.66667vw;
  overflow: hidden;
  font-size: 6.66667vw;
  padding-right: 2vw;
  color: #666;
}

.forPass-warp .main .bar input {
  width: 74.66667vw;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  text-indent: 1.33333vw;
  font-size: 3.73333vw;
  color: #999;
}

.forPass-warp .main .btn {
  height: 12vw;
  border-radius: 1.33333vw;
  background: #1ca6f8;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 4.8vw;
}

.register-warp {
  padding-bottom: 13.33333vw;
}

.register-warp .zw {
  height: 3.33333vw;
  background: #f3f3f3;
}

.register-warp .reg-ul {
  padding: 6.66667vw 9.33333vw;
  background: #fff;
}

.register-warp .reg-ul > li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5.33333vw;
}

.register-warp .reg-ul > li > .left {
  width: 24vw !important;
  display: flex;
  align-items: center;
  font-size: 3.73333vw;
  color: #666;
}

.register-warp .reg-ul > li > .left > i {
  font-size: 6.66667vw;
  width: 6.66667vw;
  overflow: hidden;
  margin-right: 1.33333vw;
}

.register-warp .reg-ul > li > li:nth-last-child(1) {
  margin-bottom: 0px;
}

.register-warp .reg-ul > li .right {
  width: 58vw;
  box-sizing: border-box;
}

.register-warp .reg-ul > li .right input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #E5E5E5;
  outline: none;
  height: 6.66667vw;
  color: #999;
  text-indent: 1.33333vw;
  overflow: hidden;
  font-size: 3.73333vw;
  letter-spacing: 0.26667vw;
}

.register-warp .hotel-ul .left {
  width: 26.66667vw !important;
  letter-spacing: initial !important;
}

.register-warp .hotel-ul .left span span {
  font-size: 3.46667vw;
}

.register-warp .hotel-ul .right input {
  height: 8vw !important;
}

.register-warp .hotel-ul .right .patop {
  margin-top: 2.66667vw;
}

.register-warp .hotel-ul .right .checked-warp {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-size: 3.73333vw !important;
  color: #999;
  height: 10.66667vw;
}

.register-warp .hotel-ul .right .checked-warp .weui-cells {
  border: none !important;
}

.register-warp .hotel-ul .right .checked-warp .weui-cell {
  padding: 0px 0px;
  line-height: 6.66667vw;
}

.register-warp .hotel-ul .right .checked-warp .weui-icon-checked:before {
  color: #1ca6f8;
  font-size: 5.06667vw;
}

.register-warp .hotel-ul .right .weui-select {
  font-size: 3.73333vw;
  color: #999;
  height: 10.66667vw;
  line-height: 10.66667vw;
  padding-left: 0px;
  margin-left: 0px;
  border-bottom: 1px solid #e5e5e5;
}

.register-warp .hotel-ul .right .input-bank input {
  height: 10.66667vw;
  line-height: 10.66667vw;
}

.register-warp .personal-ul .left {
  width: auto !important;
  min-width: 24.8vw;
  max-width: 29.33333vw;
  letter-spacing: initial !important;
  white-space: nowrap;
}

.register-warp .toolbar .picker-button {
  color: #1ca6f8 !important;
}

.register-warp .ts-input {
  display: flex;
  justify-content: flex-start;
}

.register-warp .ts-input .right {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1.33333vw 0px;
}

.register-warp .ts-input img {
  width: 10.66667vw;
  height: 10.66667vw;
  border-radius: 1.06667vw;
  overflow: hidden;
  margin-right: 1.33333vw;
}

.register-warp .ts-input .ic-right {
  font-size: 5.33333vw;
}

.register-warp .reg-btn {
  margin: 8vw 4vw;
  height: 12vw;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #1ca6f8;
  color: #fff;
  font-size: 4.8vw;
  border-radius: 1.33333vw;
}

.register-warp .book {
  position: relative;
  top: -4vw;
  color: #666;
  font-size: 3.46667vw;
  text-align: center;
}

.register-warp .book .books {
  color: #1ca6f8;
  cursor: pointer;
}

.register-warp .mark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  background: #fff;
  display: none;
}

@keyframes loadRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.toolbar .picker-button {
  color: #1ca6f8 !important;
}

.user-warp {
  background: #f3f3f3;
  width: 100%;
  min-height: 102vh;
  padding-bottom: 13.33333vw;
  box-sizing: border-box;
}

.user-warp .harder {
  height: 20vw;
  margin-top: 4vw;
}

.user-warp .bbar {
  margin-top: 4vw;
  padding: 2.66667vw 4vw;
  background: #fff;
}

.user-warp .bar {
  display: block;
  padding: 2.66667vw 0vw;
  display: flex;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.user-warp .bar > .title {
  width: 23.33333vw;
  overflow: hidden;
  font-size: 4vw;
  color: #333;
}

.user-warp .bar > .text {
  width: 69.33333vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #999;
  font-size: 4vw;
}

.user-warp .bar > .text img {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 1.33333vw;
}

.user-warp .bar > .text .right {
  display: flex;
  align-items: center;
}

.user-warp .bar > .text .right .ic-right {
  font-size: 5.33333vw;
}

.user-warp .bar .tip {
  color: red;
  font-size: 2.13333vw;
}

.user-warp .bar:nth-last-child(1) {
  border-bottom: none;
}

.user-warp .next-btn {
  margin: 8vw 4vw;
  height: 12vw;
  background: #1ca6f8;
  color: #fff;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 4.8vw;
  border-radius: 1.33333vw;
}

.myAccount-warp {
  background: #F3F3F3;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 13.33333vw;
}

.myAccount-warp .bar-harder {
  background: #fff;
  margin-top: 4vw;
  box-sizing: border-box;
  padding: 4vw;
}

.myAccount-warp .bar-harder .title {
  color: #666;
  font-size: 3.2vw;
}

.myAccount-warp .bar-harder .number {
  color: #32b16c;
  text-align: center;
  font-size: 4.8vw;
}

.myAccount-warp .bar-harder .tix {
  text-align: right;
  color: #1ca6f8;
  font-size: 3.46667vw;
}

.myAccount-warp .bar-tixian {
  background: #fff;
  padding: 4vw;
  margin-top: 4vw;
}

.myAccount-warp .bar-tixian .title {
  color: #666;
  font-size: 3.2vw;
}

.myAccount-warp .bar-tixian .number {
  text-align: center;
  color: #999;
  font-size: 4.8vw;
}

.myAccount-warp .bar-tixian .number input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 25.33333vw;
  outline: none;
  font-size: 4.8vw;
  text-align: center;
  color: #999;
}

.myAccount-warp .bar-tixian .footer {
  text-align: right;
}

.myAccount-warp .bar-tixian .footer > span {
  color: #1ca6f8;
  font-size: 4vw;
}

.myAccount-warp .bar-card {
  padding: 4vw;
  margin-top: 4vw;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.myAccount-warp .bar-card > div {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

.myAccount-warp .bar-card .left i {
  font-size: 5.33333vw;
  color: #ff5770;
  display: block;
  width: 6.66667vw;
}

.myAccount-warp .bar-card .left .title {
  color: #333;
  font-size: 3.46667vw;
  padding-right: 1.33333vw;
}

.myAccount-warp .bar-card .left .text {
  font-size: 3.2vw;
  color: #999;
}

.myAccount-warp .bar-card .off-card {
  font-size: 3.73333vw;
  color: #999;
  padding-right: 1.33333vw;
}

.myAccount-warp .bar-mingxi {
  margin-top: 4vw;
  padding: 4vw;
  background: #fff;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.myAccount-warp .bar-mingxi i {
  font-size: 4.8vw;
  display: block;
  width: 5.33333vw;
  color: #faa100;
  margin-right: 0.8vw;
}

.myAccount-warp .bar-mingxi span {
  color: #333;
  font-size: 3.46667vw;
  padding-right: 1.33333vw;
}

.myAccount-warp .tixian-ui {
  padding: 0px 4vw;
  background: #fff;
}

.myAccount-warp .tixian-ui > li {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 4vw;
  color: #999;
  font-size: 3.73333vw;
}

.myAccount-warp .tixian-ui > li > div {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}

.myAccount-warp .tixian-ui > li > div:nth-child(1) {
  width: 40%;
}

.myAccount-warp .tixian-ui > li > div:nth-child(2) {
  width: 40%;
}

.myAccount-warp .tixian-ui > li > div:nth-child(3) {
  width: 20%;
}

.myAccount-warp .tixian-ui > li:nth-child(1) {
  color: #333;
  font-size: 4.26667vw;
}

.myAccount-warp .tixian-ui > li:nth-last-child(1) {
  border-bottom: none;
}

.user-warp {
  padding-bottom: 13.33333vw;
}

.user-warp .hotel-ul {
  padding: 0 0;
}

.user-warp .hotel-ul li .left {
  width: 23.33333vw !important;
  overflow: hidden;
  font-size: 4vw;
  color: #333;
}

.user-warp .hotel-ul li .right {
  width: 69.33333vw;
}

.user-warp .hotel-ul li .right .checked-warp {
  display: flex;
  justify-content: flex-start;
}

.authen-warp {
  padding-bottom: 13.33333vw;
}

.authen-warp .tip-bar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 3.46667vw;
  height: 8vw;
  line-height: 8vw;
}

.authen-warp .bbar input {
  border: none;
  outline: none;
  color: #999;
}

.authen-warp .authen-bbar > ul > li > .left {
  width: 26.66667vw !important;
}

.authen-warp .authen-bbar > ul > li > #yyzh {
  width: 30.66667vw !important;
}

.authen-warp .authen-bbar > ul > li > #yyzh > span {
  font-size: 3.46667vw;
  color: #666;
}

.authen-warp .login-bar {
  margin-bottom: 0px !important;
}

.authen-warp .id-bar > span {
  width: 18.93333vw !important;
}

.card-transplant {
  padding-bottom: 13.33333vw;
}

.card-transplant .my-warp {
  min-height: 100vh;
  background: #F3F3F3;
}

.card-transplant .h-30 {
  height: 4vw;
}

.card-transplant .price-bar {
  height: 29.33333vw;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 4vw;
}

.card-transplant .price-bar .text {
  position: absolute;
  top: 4vw;
  left: 4vw;
  color: #999999;
  font-size: 3.2vw;
}

.card-transplant .price-bar .pric-number {
  color: #333;
  font-size: 6.66667vw;
}

.card-transplant .price-bar .operation {
  position: absolute;
  bottom: 4vw;
  right: 4vw;
  color: #1ca6f8;
  font-size: 3.73333vw;
}

.card-transplant .card-bar {
  box-sizing: border-box;
  padding: 4vw;
  background: #FFFFFF;
  margin-top: 4vw;
  overflow: hidden;
}

.card-transplant .card-bar .ic-bank-card, .card-transplant .card-bar .ic-mingxi {
  color: #ff5770;
  font-size: 6vw;
  position: relative;
  top: -0.33333vw;
}

.card-transplant .card-bar .my-card {
  color: #333;
  font-size: 4vw;
  padding: 0 2vw;
}

.card-transplant .card-bar > div {
  color: #999;
  font-size: 3.73333vw;
}

.card-transplant .card-bar > div span {
  padding: 0 0.66667vw;
}

.card-transplant .card-bar .card-right {
  position: absolute;
  right: 4vw;
  font-size: 5.33333vw;
}

.card-transplant .card-bar .card-right > .off-card {
  font-size: 3.73333vw;
}

.card-transplant .mark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.card-transplant .mark .click-close {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.card-transplant .mark .main {
  position: relative;
  width: 78.66667vw;
  min-height: 26.66667vw;
  background: #fff;
  margin: 16vw auto 0 auto;
  border-radius: 1.33333vw;
  overflow: hidden;
  padding: 4vw 0 4vw 0;
}

.card-transplant .mark .title {
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  font-size: 4.8vw;
  color: #333;
}

.card-transplant .mark .main-bar {
  background: #f3f3f3;
  padding: 4vw 0;
}

.card-transplant .mark .main-bar > span:nth-child(1) {
  color: #333;
  font-size: 3.46667vw;
  padding-right: 5.33333vw;
}

.card-transplant .mark .main-bar > span:nth-child(2) {
  color: #999;
  font-size: 3.2vw;
}

.card-transplant .mark .tx-cz {
  margin: 4vw;
  overflow: hidden;
}

.card-transplant .mark .tx-cz .left {
  float: left;
  font-size: 3.46667vw;
  width: 18vw;
}

.card-transplant .mark .tx-cz .right {
  float: right;
  width: 46.66667vw;
}

.card-transplant .mark .tx-cz .right .rmb {
  font-size: 8vw;
  color: #333;
}

.card-transplant .mark .tx-cz .right input {
  border-width: 0px 0px 1px 0px;
  width: 36vw;
  height: 8vw;
  text-indent: 1.33333vw;
  font-size: 5.33333vw;
}

.card-transplant .mark .tx-cz .right .text {
  font-size: 3.2vw;
  color: #999;
  text-align: right;
}

.card-transplant .mark .tx-cz .right .text span {
  color: #1ca6f8;
  padding-right: 0.66667vw;
}

.card-transplant .mark .btn-tx {
  margin: 5.33333vw 4vw 4vw 4vw;
  text-align: center;
  background: #1ca6f8;
  color: #fff;
  height: 12vw;
  line-height: 12vw;
  border-radius: 1.73333vw;
  overflow: hidden;
  font-size: 4.8vw;
  letter-spacing: 0.4vw;
}

.card-transplant .card-style {
  height: 26.66667vw;
  margin: 4vw;
  background: #d9a261;
  border-radius: 1.6vw;
  position: relative;
  overflow: hidden;
}

.card-transplant .card-style .bank-bg {
  position: absolute;
  top: -5.33333vw;
  right: -6.66667vw;
  font-size: 26.66667vw;
  color: #d99059;
  z-index: 10;
}

.card-transplant .card-style .main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}

.card-transplant .card-style .card-h {
  height: 10.66667vw;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 0.4vw solid #fff;
}

.card-transplant .card-style .card-h .h-main {
  margin: 2vw 0 0 4vw;
}

.card-transplant .card-style .card-h .h-main > span:nth-child(2) {
  color: #666666;
  font-size: 3.73333vw;
  padding: 0 2vw;
}

.card-transplant .card-style .card-h .h-main > span:nth-child(3) {
  color: #999;
  font-size: 3.46667vw;
}

.card-transplant .card-style .card-h i {
  font-size: 6.66667vw;
  color: #d62629;
}

.card-transplant .card-style .card-b {
  text-align: center;
  font-size: 5.06667vw;
  padding-top: 3.33333vw;
  color: #fff;
}

.card-transplant .add-card {
  display: block;
  padding: 4vw;
  background: #fff;
  overflow: hidden;
  height: 4vw;
  line-height: 4vw;
}

.card-transplant .add-card .left {
  float: left;
  color: #666;
  font-size: 3.46667vw;
}

.card-transplant .add-card .left > i {
  padding: 0 1.33333vw 0 0;
  color: #9a9a9a;
  font-size: 4vw;
}

.card-transplant .add-card .right {
  float: right;
  color: #999;
}

.card-transplant .tip {
  height: 10.66667vw;
  box-sizing: border-box;
  padding: 4vw;
  color: #666;
  font-size: 3.2vw;
}

.card-transplant .xinxi {
  padding: 0 4vw;
  background: #fff;
}

.card-transplant .xinxi .bar {
  height: 12.13333vw;
}

.card-transplant .xinxi .bar .title {
  font-size: 3.73333vw;
  color: #333;
  display: block;
  width: 12vw;
}

.card-transplant .xinxi .bar .text {
  color: #666666;
  font-size: 3.73333vw;
  text-indent: 7.33333vw;
  display: block;
  border: none;
  width: 74.66667vw;
  height: 12vw;
  line-height: 12vw;
}

.card-transplant .xinxi .weui-select {
  padding-left: 7.33333vw;
  font-size: 3.73333vw !important;
  color: #666 !important;
}

.card-transplant .xinxi .weui-select > option {
  font-size: 3.73333vw !important;
}

.card-transplant .sub-btn {
  margin: 8vw 4vw 4vw 4vw;
  height: 12vw;
  text-align: center;
  line-height: 12vw;
  font-size: 4.8vw;
  color: #fff;
  border-radius: 1.33333vw;
  background: #1ca6f8;
}

.card-transplant .acc-harder {
  height: 16vw;
  text-align: center;
}

.card-transplant .acc-harder .btns {
  height: 9.33333vw;
}

.card-transplant .acc-harder .btns > div {
  height: 9.33333vw;
  width: 19.33333vw;
  line-height: 9.33333vw;
  border: 1px solid #1ca6f8;
  box-sizing: border-box;
  font-size: 4.26667vw;
  border-right: none;
  color: #1ca6f8;
}

.card-transplant .acc-harder .btns > div:nth-child(1) {
  border-radius: 1.33333vw 0 0 1.33333vw;
}

.card-transplant .acc-harder .btns > div:nth-last-child(1) {
  border-right: 1px solid #1ca6f8;
  border-radius: 0 1.33333vw 1.33333vw 0;
}

.card-transplant .acc-harder .btns .select {
  color: #fff;
  background: #1ca6f8;
}

.card-transplant .acc-ul > li {
  padding: 4vw;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.card-transplant .acc-ul > li .right {
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 4vw;
}

.card-transplant .acc-ul > li .times {
  color: #999;
  font-size: 2.66667vw;
}

.card-transplant .acc-ul > li .type {
  font-size: 3.73333vw;
  color: #333;
}

.card-transplant .card-info .h-num {
  height: 20vw;
}

.card-transplant .card-info .card {
  width: 92vw;
  height: 46.66667vw;
  background: #FFFFFF;
  border-radius: 2vw;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 4vw;
}

.card-transplant .card-info .card .harder {
  height: 12vw;
}

.card-transplant .card-info .card .harder > i {
  font-size: 10.66667vw;
  line-height: 12vw;
  color: #c65255;
}

.card-transplant .card-info .card .harder .text {
  color: #666;
  font-size: 4.53333vw;
  font-weight: bold;
  padding-left: 2vw;
}

.card-transplant .card-info .card .harder .text span {
  font-size: 4vw;
  color: #999;
  padding-left: 1.33333vw;
}

.card-transplant .card-info .card .card-number {
  text-align: center;
  font-size: 5.33333vw;
  color: #999;
  font-weight: bolder;
  margin-top: 8vw;
}

.card-transplant .card-info .remove-card {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  color: red;
  font-size: 3.46667vw;
}

.card-transplant .mod-cardadd-ul {
  padding: 4vw !important;
}

.my-warp .remove-card {
  bottom: 13.33333vw !important;
}

.btn-def {
  clear: both;
  width: 80%;
  height: 10.66667vw;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #1ca6f8;
  color: #fff;
  font-size: 4.8vw;
  border-radius: 1.33333vw;
  position: fixed;
  bottom: 2.66667vw;
  left: 50%;
  margin-left: -40%;
}

.book-warp {
  padding: 4vw;
  box-sizing: border-box;
  font-size: 3.73333vw;
  line-height: 1.6;
  text-align: justify;
}

.book-warp .name {
  text-align: center;
  font-size: 5.33333vw;
  color: #000;
  font-family: "微软雅黑";
  margin-bottom: 4vw;
}

.book-warp .people {
  line-height: 2;
}

.book-warp .shuoming {
  margin-top: 2.66667vw;
}

.book-warp .text-ul {
  margin-top: 2.66667vw;
}

.book-warp .text-ul > li {
  box-sizing: border-box;
  list-style: none;
  text-indent: 4vw;
  margin-top: 2.66667vw;
}

.book-warp .text-ul .text-ul-2 > li {
  box-sizing: border-box;
  list-style: none;
  text-indent: 4vw;
}

.book-warp .text-ul .number_ul > li {
  box-sizing: border-box;
  list-style: none;
}

.book-warp .agree-btn {
  height: 12vw;
  background: #1ca6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.26667vw;
  color: #fff;
  border-radius: 1.33333vw;
  margin-top: 4vw;
}
